:root {
  --border-radius: 0.3em;
}
.size-container {
  width: 20em;
  height: 12em;
}
.general-container {
  margin: 0 1px;
}

.general-container:hover {
  border-radius: var(--border-radius);
  background-color: var(--secondary-color);
  cursor: pointer;
  transform: scale(1.2);
  height: 19em;
  position: absolute;
  z-index: 10;
}

.general-container:hover .subgeneral-container {
  display: inline;
}

.general-container:hover .image-container {
  border-bottom-left-radius: 0em;
  border-bottom-right-radius: 0em;
}

.subgeneral-container {
  display: none;
}

.image-container {
  align-content: center;
  border-radius: var(--border-radius);
}

.description-container {
  width: 100%;
  height: 2em;
  margin-left: 0.3em;
}

.clasification-container {
  width: 100%;
  margin-left: 0.3em;
}

.text-card-carousel {
  color: white;
  font-weight: bold;
  font-size: smaller;
  margin-right: 1em;
}

.text-other {
  border: 0.1em solid white;
}

.text-status {
  color: green;
  font-weight: bold;
  margin-right: 1em;
}

.buttons-container {
  align-content: center;
  column-count: 2;
  column-gap: 15em; /* separacion entre columnas */
  margin-top: 0.5em;
  height: 2.5em;
  width: 100%;
  margin-left: 0.3em;
}

.buttons-subContainer {
  column-count: 4;
  margin-left: 0.1em;
  column-gap: 2em;
  height: 2.5em;
  width: 3em;
}

.buttons {
  border: 0.1em solid white;
  border-radius: 1.5em;
  align-content: center;
  width: 1.5em;
  height: 1.5em;
}

.buttons-play {
  border: 0.1em solid white;
  border-radius: 1.5em;
  align-content: center;
  background-color: white;
  width: 1.5em;
  height: 1.5em;
  fill-rule: 'nonzero';
}
